.input > ul {
  list-style: none;
  display: flex;
  width: 100px;
  margin-left: -34px;
  margin-top: 3px;
}

.circles {
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
}

.circles > div + div {
  margin-right: 10px;
}

.circles > div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.circles > div:nth-child(1) {
  margin-right: 10px;
  background-color: #ff5351;
}

.circles > div:nth-child(2) {
  background-color: #ffbb41;
}

.circles > div:nth-child(3) {
  background-color: #0bc84d;
}

.input {
  height: 80px;
  width: 231px;
  background-color: #3c3d3a;
  overflow: hidden;
}

div.show {
  font-size: 40px;
  float: right;
  color: white;
  position: relative;
  top: -10px;
  right: 11px;
}

table {
  border-spacing: 0px;
  width: 231px;
}

table > tfoot > tr > td {
  width: 57px;
  height: 49px;
  background-color: #6b6b69;
  border-right: 1px solid #3c3d38;
  border-bottom: 1px solid #3c3d38;
  color: white;
  text-align: center;
  font-size: 20px;
}

table > tfoot > tr > td:last-child {
  background-color: #ff9d2a;
  border: 0px;
  border-bottom-right-radius: 7px;
  border-bottom: 1px solid #3c3d38;
  font-size: 28px;
}

table > tfoot > tr > td:nth-child(1) {
  border-right: 0px;
  border-bottom-left-radius: 7px;
}

table > tfoot > tr > td:nth-child(2) {
  border-left: 0px;
}

table > tbody > tr > td {
  width: 57px;
  height: 49px;
  background-color: #6b6b69;
  padding: 0px;
  border-right: 1px solid #3c3d38;
  border-bottom: 1px solid #3c3d38;
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
}

table > tbody > tr > td:first-child > td {
  width: 57px;
  height: 49px;
  background-color: #4e4f4c;
  padding: 0px;
  border-right: 1px solid #3c3d38;
  border-bottom: 1px solid #3c3d38;
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 20px;
}

table > tbody > tr > td:last-child {
  background-color: #ff9d2a;
  border: 0px;
  border-bottom: 1px solid #3c3d38;
  font-size: 28px;
}

table > tbody > tr > td:nth-child(1) {
  border-right: 1px solid 1px solid #3c3d38;
}

table > tbody > tr > td:nth-child(2) {
  border-left: 0px;
}

.first > td {
  font-size: 15px;
}

tr.first > td:last-child {
  font-size: 30px;
}

.methods {
  margin: 0 auto;
  position: relative;
}

.father {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid  black;
  margin: 0  auto;
  animation: loading 1.5s linear;
}

.son {
  width: 10px;
  height: 20px;
  background-color: black;
  transform-origin: center  bottom;
  position: relative;
  top: -19px;
  left: 15px;
  border-radius: 5px;
}

table > tfoot > tr > td:nth-child(1) > span {
  position: relative;
  left: -30px;
}

.first > td:nth-child(1) {
  background-color: #4f4f48;
}

.first > td:nth-child(2) {
  background-color: #4f4f48;
}

.first > td:nth-child(3) {
  background-color: #4f4f48;
}
